<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body >
    <div class="main_container">
        <div class="feed container">
            <a href="/"><h2>Home</h2></a>
            <h2>Popular</h2>
            <h2>All</h2>
        </div>
        <h2 class="custom container">Custom</h2>
        <div class="communities container">
            <a href="/communities"><h2>Communities</h2></a>
            <a href="/communities/business"><h4>Business</h4></a>
            <a href="/communities/fitness"><h4>Fitness</h4></a>
            <a href="/communities/technology"><h4>Technology</h4></a>
            <a href="/communities/music"><h4>Music</h4></a>
            <a href="/communities/sports"><h4>Sports</h4></a>
            <a href="/communities/food"><h4>Food</h4></a>
        </div>
        <div class="dropdown feed_dropdown">
            <button class="dropbtn">☰ Feed</button>
            <div class="dropdown-content">
                <a href="/" id="dropdown_menu" class="image" alt="Home">Home</a>
                <a href="../communities.ejs" id="dropdown_communities" >Communities</a>
            </div>
        </div>
    </div>
</body>
</html>